.mozmaker-icon-fonts {
  font-family: "Helvetica Neue";
}

body {
  padding: 40px;
}


img {
  width: 32px;
  position: relative;
  top: 10px;
}

h1 {
  border-bottom: solid 2px black;
  margin-bottom: 20px;
}

h2 {
  margin-top: 40px;
}

h3 {
  margin: 25px 0 5px 0;
  padding: 0;
}

p {
  margin: 5px 0 25px 0;
  color: rgba(0,0,0,.6);
}

.auto-size {
  padding: 30px;
  background: #EEE;
  border-radius: 4px;
  position: relative;
  height: 300px;
  width: 300px;

  span {
    position: absolute;
    top: 10px;
    left: 10px;
  }
}


.icon-list div {
  margin: 10px 0;
}

.large-icons {
  overflow: auto;
  width: 100%;
}


.large-icons div {
  margin: 15px 0 ;
}

.large-icons :before {
  font-size: 50px;
  text-align: center;
  margin: 0 15px 0 0;
}

code {
  background: #efefef;
  padding: 4px;
}