.mozmaker-icon-fonts {
  font-family: "Fira Sans","Helvetica Neue";
  font-weight: 400;
}

body {
  padding: 80px 20px 20px 20px;
  margin: 0;
}

.search-ui {
  margin-top: 40px;
  margin-bottom: 10px;
  text-align: left;
  background: #efefef;
  padding: 15px;
  border-radius: 2px;
}

.search-ui input {
  width: 500px;
  border: solid 2px #ddd;
  border-width: 0 0 2px 0;
  border: solid 1px #ccc;
  padding: 10px;
  font-size: 22px;
  font-family: inherit;
  outline: none;
}

.dynamic-icon-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -10px;
}

.icon-item {
  border-radius: 2px;
  flex: 1;
  background: #eee;
  margin: 10px;
  text-align: center;
  min-width: 200px;
  position: relative;
  padding: 10px;
}

.icon-name, .icon-class, .icon-code {
  padding: 5px 0;
  font-size: 14px;
}

.test {
  display: none;
}

.icon-image-wrapper {
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon-item img {
  max-height: 70%;
  min-height: 45%;
  max-width: 80%;
  flex: 1;
  transition: transform .25s cubic-bezier(0.095, 0.835, 0.365, 1.575);
}

.icon-item:hover img {
  transform: scale(1.2);
}


h1 {
  font-weight: 300;
  font-size: 35px;
  margin: 0;
  padding-bottom: 10px;
  position: relative;
  box-sizing: border-box;
  background: #cf299d;
  color: white;
  padding: 20px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

h1:before {
  animation: pulse 1s ease-out infinite;
  display: inline-block;
}
  
@keyframes pulse {
  
  0% {
    transform: scale(1);
  }

  10% {
    transform: scale(.95);
  }
  20% {
    transform: scale(1.1);
  }
  35% {
    transform: scale(1);
  }
}

h2 {
  margin-top: 40px;
}

h3 {
  margin: 25px 0 5px 0;
  padding: 0;
}

p {
  margin: 30px 0 10px 0;
  color: rgba(0,0,0,.75);
}

.auto-size {
  padding: 30px;
  background: #EEE;
  border-radius: 4px;
  position: relative;
  height: 300px;
  width: 300px;

  span {
    position: absolute;
    top: 10px;
    left: 10px;
  }
}

.test {
  background: black;
  color: white;
  font-size: 50px;
  padding: 10px;
}

.icon-list div {
  margin: 10px 0;
}

.large-icons {
  overflow: auto;
  width: 100%;
}

.large-icons div {
  margin: 15px 0 ;
}

.large-icons :before {
  font-size: 50px;
  text-align: center;
  margin: 0 15px 0 0;
}

h4 {
  margin: 20px 0 10px 0;
}

code {
  background: #efefef;
  padding: 12px;
  font-size: 15px;
  margin-right: 5px;
  color: rgba(0,0,0,.6);
  display: inline-block;
}

.example-wrapper {
  color: rgba(0,0,0,.6);
}

.example {
  color: black;
  margin-left: 5px;
}

a {
  color: #cf299d;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.github-button {
  background: white;
  color: #cf299d;
  padding: 10px;
  position: absolute;
  border-radius: 4px;
  top: 21px;
  right: 20px;
  font-size: 16px;
  font-weight: 400;
  text-decoration: none;
  box-shadow: 0px 2px 2px rgba(0,0,0,.3);
  
}

.github-button:hover {
  text-decoration: none;
  opacity: .9;
}

.github-button:active {
  box-shadow: none;
  top: 22px;
  
}

.github-button:before {
  margin-right: 5px;
}
  